@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.Wrapper{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("../photo/4.jpg");
	backgroung-size: cover;
	background-position: center;
	margin: auto;
}

.Icon{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 120px;
	cursor: pointer;
}

.Icon ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.Icon ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.Icon ul li::after{
	content: '' ;
	height: 3px;
	width: 0;
	background: #00FBFF;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}

.Icon ul li:hover::after{
	width: 100%;
}

h1{
	color: white;
}

.down{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color:white;
}

.down{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}